 h1{font-family: fantasy; font-size: 30px; color: cadetblue; text-align: center; margin: 20px;}
 h2{font-family: fantasy; font-size: 24px; color: azure; text-align: center; margin: 20px;}
 h3{font-family: sans-serif; font-size: 20p; color: darkkhaki; text-align: center; margin: 20px;}
        
 a{width: 20px; color: azure; background-color: darkgoldenrod; border: 1px; margin: 20px; padding: 10px;}
 p{font-family: fantasy; font-size: 16px; color: black; margin: 30px;}
 img{margin: 10px; padding: 0px; border: solid black 5px;}
    